<mat-drawer-container class="example-container" fullscreen>

  <mat-drawer #enlaces class="example-sidenav" mode="over">
    <ul>
      <li><a routerLink="/album">Album</a></li>
      <li><a routerLink="/foto">Foto</a></li>
    </ul>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button color="accent" aria-label="menu" (click)="menu(enlaces)">  
       <mat-icon>menu</mat-icon>  
    </button>  
    <span>Album fotográfico</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
  
</mat-drawer-container>
